* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
text-decoration: none;
}

ul{
list-style-type: none;
}

body{
background-image: url(../img/banner-ico.png);
background-size: cover;
background-repeat: no-repeat ;
}

.header__title{
color: #FFF;
font-family: Ubuntu;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 100% */
}

.header__title:hover, :focus{
	color: #3CB878;
}

.header__list:hover .style_green{
	color: #3CB878;
}


.logo_main:hover .items{
	text-decoration: underline;
	color: #3CB878
}

.header__list:hover .item1{
	content: url(../img/svg/calendar-ico2.svg);
}

.header__list:hover .item2{
	content: url(../img/svg/envelope-ico3.svg);
}

.header__list:hover .item3{
	content: url(../img/svg/compass-ico1.svg);
}

.item__nav:hover .style_texts{
	text-decoration: underline;
	color: #3CB878;
}

.title_styleh2{
color: #434343;
text-align: center;
font-family: Ubuntu;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 100% */
}

.title_styleh3{
color: #3CB878;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}

p {
color: #FFF;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}

.container{
max-width: 1230px;
margin: 0 auto;
padding: 0 10px;
}

.header{
height: 58px;
background: rgba(0, 0, 0, 0.40);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-bottom: 57px;
}

.header__wrapper{
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px 0;
}


.header__list{
display: flex;
align-items: center;
gap: 20px;
}

.border{
border-right: #434343 2px solid;
padding-right: 20px;
}


.sigin__wrapper{
background: #FFF;
max-width: 441px;
max-height: 640px;
margin-left: 300px;
}

.logo_main{
padding-top: 28px;
display: flex;
/* justify-content: center; */
/* gap: 110px; */
align-items: center;
}

.style_shape{
padding-right:38px ;
}


.style_as{
padding-left: 182px;
}

.item{
color: #434343;
text-align: center;
font-family: Ubuntu;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 100% */
}

.items{
padding-left: 39px;
color: #3CB878;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}



.menu_list{
margin-top: 15px;
display: flex;
justify-content: center;
}

.menu_item_facebook{
padding-right: 10px;
}

.menu_item_google{
padding-right: 10px;
}

.menu a{
color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}

.nav_facebook{
padding: 10px 35px;
background:#305DB8;
}

.nav_google{
padding: 10px 35px;
background: #DF4A32;
}

.nav_facebook:hover{
background:#022263;
}

.nav_google:hover{
background:#AB1F09;
}

.nav_logo{
display: flex;
justify-content: center;
padding: 37px 0 7px 0;
}

.text{
color: #848484;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}

.input_menu{
padding-top: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 4px;
border: 1px solid #F2F2F2;
gap: 20px;

}

input{
padding: 15px 110px 15px 19px;
}

.top_input{
fill: #FFF;
filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}


.checkbox-wrapper{
display: flex;
justify-content: flex-start;
align-items: center;
padding-left: 57px;
margin: 15px 0 8px 0;
}

.item__nav{
color: #434343;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}

.style_texts{
	color: #3CB878;
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	}


input[type="checkbox"]{
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin: -5px 5px 0 0;
	accent-color: #a6c1be;
}


.footer_bot{
display: flex;
justify-content: center;
padding-bottom: 38px;
}

button{
width: 324px;
height: 46px;
border-radius: 4px;
background: rgba(60, 184, 120, 0.80);
}

button:hover{
background: #01813F;	
}

.button_style{
color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}